# .gitignore
.env
split_by_date
daily_average_weather_data.csv
feature_importance_2024-11-27.png
feature_importance_2024-11-28.png
feature_importance_2024-11-29.png
feature_importance_2024-11-30.png
feature_importance_2024-12-01.png
final.csv
heuristics_data.pkl
weather_daily_data_final.csv
weather_hourly_data_final.csv
weather_processing_log_20241129_174426.txt
__pycache__
gebco_2024_n20.632_s10.437_w79.321_e86.616.nc
lat_long_data.csv
lat_long_data.pkl
output_depth_data.csv
final2_with_fuel_efficiency.csv
Cargo.pkl
passenger.pkl
prediction_results.csv
merged_data_with_ship_frequency.csv
heuristics_data.csv
__pycache__/
